body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background:linear-gradient(to bottom, #78cced, #a978cd, #e66954);
  height: 100vh;
  color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


