body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background:url(https://pages.git.generalassemb.ly/modular-curriculum-all-courses/react-state-management-lab/assets/reactville.png) center /contain no-repeat;
  height: 100vh;
  color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  padding-top: 9%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


